<div class="row">
    <h2>Add News</h2>
    <form method="post" ng-submit="addnews()" enctype="multipart/form-data">
  <div class="form-group">
      <label>Category:</label>
      <select ng-model="myData.category" class="form-control">
          <option value="Sports">Sports</option>
          <option value="Weather">Weather</option>
           <option value="Poltics">Poltics</option>
           <option value="International">International</option>
           <option value="Others">Others</option>
      </select>
  </div>
  <div class="form-group">
      <label>Title</label>
      <input type="text" ng-model="myData.title" required class="form-control"/>
  </div>
  <div class="form-group">
      <label>Body:</label>
     <textarea ng-model="myData.body" required class="form-control">
     </textarea>
  </div>
   <div class="form-group">
       <label>Upload:</label>
      
   <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
    ngf-resize="{width: 100, height: 100}"><img src="download.jpg" width=100 height=50/></div>
   </div>
  <input type="submit" value="submit" class="btn btn-success"/>
 </form>
</div>